p{
    border: 2px red dashed;   /*linea punteada*/
    padding: 50px 20px;  -- espacio entre cosas como parrafo
    /*background-image:url()*/ 
    background-color: aqua;  -- fondo 
    background-repeat: no-repeat;  - fondo que no se repita
    background-size: cover;  - ocupar todo dentro de un cuadrado
    background-attachment: fixed; - fija en un sitio
}
a{
    border: 5px orange solid;
    margin: 20px;
}