p{
    border: 2px red dashed;
    padding: 50px 20px;
    /*background-image:url()*/
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    border: 5px orange solid;
    margin: 20px;
}